<!--
 * @Author: yangyahui yangyahui@lrhealth.com
 * @Date: 2023-03-07 14:39:20
 * @LastEditors: yangyahui yangyahui@lrhealth.com
 * @LastEditTime: 2023-04-24 10:45:08
 * @FilePath: /vue-create/index.html
 * @Description: 测试html文件
 * 
 * Copyright (c) 2023 by yangyahui, All Rights Reserved. 
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div id="app" class="el-container" style="color: black; font-size: 16px">
    <h1>
      {{list}}
    </h1>
    <h2>
      {{job.address.province.city}}
    </h2>
  </div>
  <!-- <p>
    <div>
      类型：{{type}}
    </div>
    dom模版不能使用非标准的写法，否则vue通过outerHTML无法获取正确的dom结构也就无法正确渲染
  </p> -->
  <script src="dist/vue.js"></script>
  <script>
    // 全局方法
    // 生命周期是发布订阅到设计模式
    Vue.Mixin({
      created: function a() {
        console.log('----a')
      },
      mounted: function w1() { },
      renderTracked() { }
    })
    Vue.Mixin({
      created: function b() {
        console.log('----b')
      },
      mounted: function w2() { },
      renderTracked() { }
    })
    Vue.Mixin({
      created: function c() {
        console.log('----c')
      },
      errorCaptured: function error() {
      },
      renderTracked() { }
    })
    // umd Vue
    let vm = new Vue({
      el: "#app",
      data() {
        console.log(this, "html");
        return {
          list: [
            { name: "nginx", ip: "101.31.34.12", port: "6090" },
            { name: "mongo", ip: "101.31.34.12", port: "6090" },
            { name: "mysql", ip: "101.31.34.12", port: "6090" },
            { name: "jenkins", ip: "101.31.34.12", port: "6090" },
          ],
          person: { name: "刘省立", sex: "male" },
          job: { address: { province: { city: 'shanghai' } } },
          type: '策略类型'
        };
      },
      created() { console.log('----d') },
      mounted() {
        // console.log('mounted')
      },
      watch: {
        type() {
          // console.log('--------watch----------')
        },
        person() {

        }
      },
      renderTracked() { },
      updated() {
        // console.log('----e')
      },
      // props: {},

      watch: {
        type(oldValue, newValue) {
          console.log('-----type')
        },
        person: {
          handler(newName, oldName) {
            console.log('obj.a changed');
          },
          deep: true,
          immediate: true
        },
        'job.address.province.city'(value, oldValue) {
          console.log('job.address.province.city')
        }
      },
    });
    // .$mount('#app'); ===  el: "#app",
    // 测试打印
    // console.log(
    //   (vm._data.person.name = { lastName: "yang", firstName: "yahui" }),
    //   vm._data,
    //   "vm"
    // );
    // vm._data.list.push({ name: "kibana", ip: "101.31.34.12", port: "6090" });
    // console.log(vm.person);
    // vm.person = { job: "doctor" };
    // console.log(vm.person);
    setTimeout(() => {
      // vm.person.name = "--张三--"
      // vm._update(vm._render())
      vm.list.push({ name: "gitlab", ip: "101.31.34.12", port: "6090" })
      vm.list.push({ name: "gitlab2", ip: "101.31.34.12", port: "6090" })
      vm.list.push({ name: "gitlab3", ip: "101.31.34.12", port: "6090" })
      vm.$nextTick(() => {
        // console.log('nextTick')
      })
    }, 1000)
    // console.log(vm)
    vm.job.address.province.city = 'henan'
  </script>
</body>

</html>